<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- @api Use item keys to create necessary service instance or add new services by extending the list -->
    <type name="Magento\Directory\Model\Currency\Import\Config">
        <arguments>
            <argument name="servicesConfig" xsi:type="array">
                <item name="converter" xsi:type="array">
                    <item name="label" xsi:type="string" translatable="true">currencyconverter</item>
                    <item name="class" xsi:type="string">Kyo\FreeCurrency\Model\Currency\Import\Converter</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>